@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
img{
    width: 100%;
}
footer img {
    width: 12px;
}

/* sidan */
body {
    font-family: "Lexend Exa", sans-serif;
    background-image: url(https://i.pinimg.com/736x/19/af/0e/19af0ea341f44c8f61fa06916db7770d.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.kontainer {
    width: 95%;
    margin: auto;
    border: #4d00a5;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    grid-template-areas: 
    "head head"
    "main side"
    "foot foot"
    ;
}

/* sidhuvud och meny */
header {
    border-radius: 10px;
    grid-area: head;
    width: 1100px;
}
header h1{
    color: #ffffff;
    font-size: 50px;
}
header nav{
    background: #c49300c0;
    padding: 12px;
    width: 1000px;
}
header nav a{
    text-decoration: none;
    padding: 20px;
}
header nav a.aktiv{
    color: rgb(255, 255, 255);
    background: linear-gradient(to bottom,  #ff5d90 0%,#ef014c 31%,#ef017c 53%,#ef014c 72%,#ef014c 72%,#ef017c 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 12px;

}
header nav a:hover{
    color: rgb(230, 19, 19);
}

/* innehåll */
main{
    padding: 0;
    background-color: rgb(2, 14, 83);
    grid-area: main;
    display: grid;
    grid-template-columns: 60% 40%;
    
}
main article figure h2{
    color: #ffffff;
}
main article figure p{
    color: #ffffff;
}
main article figure h3{
    color: #ffffff;
}
main article figure figcaption {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

/* sidebar */
aside{
    background-color: rgb(219, 17, 17);
    border-radius: 10px;
    padding: 20px;
    grid-area: side;
}
aside h4{
    text-align: center;
    color: #ffffff;
}
aside button{
    margin: auto;
    width: 100%;
    color: #ffffff;
    background-color: #c49300c0;
    border: none;
    padding: 10px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
aside p{
    color: #ffffff;
}
aside p a{}

/* sidfot */
footer{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    grid-area: foot;
}
footer p{}